/*
    DEMO STYLE
*/
@import '~@ngx-share/button/themes/default/default-theme';
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: #38b1eb;
  text-decoration: none;
  transition: all 0.3s;
}

a:visited {
  color: #008f57;
}


i,
span {
  display: inline-block;
}

/* WRAPPER */

#wrapper {
  margin-top: 0;
  padding-top: 0;
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

/* CONTENT */

#content {
  width: 100%;
  padding-top: 0;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
---------------------------------------------------- */

#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100%;
  background: #f186bc;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: inherit
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

#sidebar ul li a:hover {
  background: #3c4d92;
  color: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #115881ab;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
  color: white;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #010307;
}

a.article,
a.article:hover {
  background: #424242 !important;
  color: #fff !important;
}

.container{
  display: inherit;
}

.btn-info {
  color: #fff;
  background-color: #38b1eb !important;
  border-color: #00a0e6 !important;
}

.btn-info:hover {
  color: #fff;
  background-color: #0e86bf !important;
  border-color: #046fa0 !important;
}


nav#sidebar>.sidebar-header>#img-sidebar{
  background: url(./assets/images/logo.png);
  height: 85px;
  background-repeat: no-repeat;
}

nav#sidebar.active>.sidebar-header>#img-sidebar{
  background: url(./assets/images/logo-min.png);
  width:68px;
  margin-left: -15px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

nav#sidebar.active>ul{
  margin-top: -25px;
}

@media (max-width: 769px){
  nav#sidebar>.sidebar-header>#img-sidebar{
    background: url(./assets/images/logo-min.png);
    width:68px;
    margin-left: -15px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  nav#sidebar>ul{
    margin-top: -25px;
  }
}

h3.titulo{
  color: #00a0e6;
  padding-left: 15px;
}

h2.titulo{
  color: #00a0e6;
  padding-left: 15px;
}
.conteudo{
  color: #396b9c;
}

.card-header-personalizado {
  background-color: #f186bc5c !important;
  color:#5386ca;
}

.form-control:focus{
  border-color: #fffffff5 !important;
  box-shadow: 0 0 0 0.2rem rgba(241, 134, 188, 0.34) !important;
}
