<div class="container" >
    <div class="col-sm-10 envelope">
        <div class="row col-sm-12">
            <aside class="col-sm-12">
                
                <h2 class="titulo" style="padding-left: 0; margin-bottom: 2%">Identificação</h2>

                <div id="formDiv" class="card col-sm-12">
                    <div class="form-row linha">
                        <div class="form-group col-sm-6 email-div">
                            <h3 class="titulo">Quero ser doador</h3>

                            <div class="form-group col-sm-8">
                                <label for="">E-mail</label>
                                <input type="text" class="form-control" id="emailId">
                                <p>Dúvidas? <a href="#">fale conosco</a></p>
                            </div>
                                                            
                        </div>

                        <div class="form-group col-sm-6 sou-doador">
                            <h3 class="titulo">Já sou doador</h3>

                            <div class="form-group col-sm-8">
                                <label for="">Nome do Usuário</label>
                                <input type="text" class="form-control" id="emailId">
                            </div>  

                            <div class="form-row col-sm-6">
                                <div class="form-group col-sm-12">
                                    <label for="Telefone 1">Senha</label>
                                    <input type="text" class="form-control" id="senhaId">
                                </div>  
                                
                                <div class="form-check form-check-inline ver-senha">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Ver Senha</label>
                                </div>
                            </div>
                            
                            <p style="padding-left: 4%">Esqueci meu <a href="#">usuário</a> ou <a href="#">senha</a></p>
                        </div>

                        <div class="form-group col-sm-12 text-center social-div">
                            <div class="form-group col-sm-12 social-footer">
                                <p class="social-footer">Use sua rede social para se conectar</p>
                            </div>
                            
                            <div class="form-group col-sm-12">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </div>
                </div> 
            </aside>
        </div>
    </div>
</div>